<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тест поиска</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app" class="content">
        <h3>Тест поиска</h3>
        <div class="form">
            <input @input="search" v-model="surname" @input="" type="text" placeholder="Фамилия" />
            <input @input="search" v-model="name" type="text" placeholder="Имя" />
            <input @input="search" v-model="patronymic" type="text" placeholder="Отчество" />
            <input @input="search" v-model="d1" type="text" placeholder="Дата 1" />
            <input @input="search" v-model="d2" type="text" placeholder="Дата 2" />
        </div>
        <div class="result">
            <div v-show="loading">Загрузка ...</div>
            <pre>
                {{ result }}
            </pre>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            name: '',
            patronymic: '',
            surname: '',
            d1: '',
            d2: '',
            loading: false,
            result: []
        },
        methods: {
            async search() {
                this.loading = true;
                const objSearch = {
                    "bool": {
                        "should": [{
                                "match_bool_prefix": {
                                    "surname": this.surname
                                }
                            },
                            {
                                "match_bool_prefix": {
                                    "name": this.name
                                }
                            },
                            {
                                "match_bool_prefix": {
                                    "d1": this.d1
                                }
                            },
                            {
                                "match_bool_prefix": {
                                    "d2": this.d2
                                }
                            },
                            {
                                "match_bool_prefix": {
                                    "patronymic": this.patronymic
                                }
                            }
                        ]
                    }
                };

                const response = await fetch('http://localhost:3000/search/any', {
                    method: 'POST',
                    mode: 'cors',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8'
                    },
                    body: JSON.stringify({
                        search: objSearch,
                        index: 'mans',
                    })
                });
                const res = await response.json();
                if (res.status != 200) {
                    this.loading = false;
                    return this.result = [];
                }
                this.result = res.data.hits.hits.map(el=>el._source);
                this.loading = false;
            }
        }
    })
</script>
<style>
    .content {
        padding: 40px;
    }

    .form {}

    .form input {
        outline: none;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #2aa72a;
    }
</style>

</html>